{% extends 'main/base.html' %}

{% block title %}
Сторінка про проект
{% endblock %}

{% block content %}
    <h1>Сторінка про проект</h1>
    <p>Данний проет був створений на основі фреймворка Django для ознайомлення і подальшого вивчення даної технології.
       Цей сайт придназначений для засу задач які користувач повинен виконати,або просто як записник важливої інформації.
       Всі матеріали для розробки першого сайна на цьому фрейворкі було взято з даного відео https://youtu.be/6K83dgjkQNw.
    </p>
{% endblock %}
